# This file may be used to create an environment using:
# $ conda create --name <env> --file <this file>
# platform: win-64
instagrapi=2.0.1=pypi_0
jsonpatch=1.32=pyhd3eb1b0_0
jsonpointer=2.1=pyhd3eb1b0_0
numpy=1.26.2=py311hdab7c0b_0
numpy-base=1.26.2=py311hd01c5d8_0
pandas=2.1.4=py311hf62ec03_0
pymysql=1.0.2=py311haa95532_1
selenium=3.141.0=py311h2bbff1b_1000
tabulate=0.8.10=py311haa95532_0